* {
    box-sizing: border-box;
}
.header_container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #555B6E, #119DA4);
}

.header_title {
    font-size: 35px;
    font-weight: 600;
    color: rgb(249, 228, 228);  
}
